<!-- CREAR COMENTARIO -->
<div class="container">
	<div class="coment">
			<%= form_for([@pelicula, @pelicula.comentarios.build]) do |f| %>
				<div class="col-lg-4 visible-lg">
					<p>
					<%= f.label "Nombre" %><br>
					<%= f.text_field :name %>
					</p>
					<p>
					<%= f.label "Comentario" %><br>
					<%= f.text_area :comment, size: "80x4" %>
					</p>
					<p>
					<%= f.submit 'Guardar', class:"btn btn-xs btn-primary"%>
					</p>
				</div>

			<% end %>
	</div>
</div> <!-- end panel -->

