<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <p>Email</p>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <br/>
    <div class="field">
      <p>Contraseña</p>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <br/>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label "Recordarte" %>
        </div>
      <% end %>

    <div class="actions">
   <%= f.submit "Entrar" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>