<div class="header">
	<div class="hidden-xs">
		<% if user_signed_in? %>
			<nav class="navbar navbar-default">
				<ul class="nav navbar-nav">
					<li><%=link_to "Inicio", root_path %></li>
					<li><%= link_to "Añadir pelicula", new_pelicula_path %></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Comprar", select_movies_path %></li>
					<li> <%=link_to "Editar usuario",  settings_path %></li>
					<li> <%= link_to image_tag("http://res.cloudinary.com/se-or/image/upload/v1498647679/1498665515_basics-17_wsvhgx.png"), destroy_user_session_path, method: :delete %> </li>
				</ul>
			</nav>
<div class="container" align="center">
	<img align="middle" src="http://res.cloudinary.com/se-or/image/upload/v1496246942/fondo_ua1eam.jpg">
</div>
	</div>
		<div class="visible-xs">
			<nav class="navbar navbar-default">
				<ul class="nav navbar-nav">
					<button class="hd-xs"><%= link_to "Pelicula", new_pelicula_path %></button>>
					<button class="hd-xs"> <%=link_to "Editar",  edit_user_registration_path %></button>>

					<button class="hd-xs"> <%= link_to image_tag("http://res.cloudinary.com/se-or/image/upload/v1498647679/1498665515_basics-17_wsvhgx.png"), destroy_user_session_path, method: :delete %></button>
				</ul>
			</nav>
		</div>
		<% else %>
			<div class="hidden-xs">
				<nav class="navbar navbar-default">
					<ul class="nav navbar-nav">
						<li><%=link_to "Entrar", new_user_session_path %></li>
						<li> <%=link_to "Registrate", new_user_registration_path %></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "Nosotros", about_path %></li>
					</ul>
				</nav>
<div class="container" align="center">
	<img align="middle" src="http://res.cloudinary.com/se-or/image/upload/v1496246942/fondo_ua1eam.jpg">
</div>
			</div>
			<div class="visible-xs">
				<nav class="navbar navbar-default">
					<ul class="nav navbar-nav">
						<li class="hd-xs"><%=link_to "Entrar", new_user_session_path %></li>
						<li class="hd-xs"> <%=link_to "Registrate", new_user_registration_path %></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="hd-xs"><%= link_to "Nosotros", about_path %></li>
					</ul>
				</nav>
			</div>
		<% end %>
</div>