<div class="container">
	<div class="row">
	  <div class="col-sm-6">

	    <%= form_tag(select_movies_path, :method => "get", id: "search-form") do %>
	        <%= text_field_tag :search, params[:search], placeholder: "Buscar por actor" %>
	        	<%= submit_tag "Buscar" %>
	    <% end %>

	    <br/>

	    <%= form_tag(select_movies_path, :method => "get", id: "search-year-form") do %>
    		<%= text_field_tag :search_year, params[:search_year], placeholder: "Buscar por año"  %>
    			<%= submit_tag "Buscar" %>
	    <% end %>
	    
	    </div>
	    <div class="col-sm-6">
		<%= form_tag(select_movies_path, :method => "get", id: "search-genre-form") do %>
			<%= select_tag :search_genre, ("<option>Selecciona por género</option><br><option>Drama</option><option>Fantasia</option><option>Animación</option><option>Acción</option><option>Terror</option><option>Musical</option><option>Aventura</option><option>Ciencia ficción</option><option>Suspense</option><option>Bélico</option><option>Western</option>").html_safe, class: 'btn btn-default', :onchange => "this.form.submit()"%>
			<% end %>
		</div>
		<br/>

	    <br/>
	</div>
</div>
<br/>
<br>
<div class="container">
	<div class="row">
		<div align="center">
		    <% @peliculas.each do |peli| %>
			    <div class="col-sm-12 col-md-4 col-lg-4">
			        <div class="select-movie">
			            <a href="<%= pelicula_path(peli) %>"><img src="<%=peli.url%>"></a>
						<p><%= link_to peli.name, peli %></p>
 						<%= link_to select_plan_path, peli: :pelicula_id, class: "btn yellow" do %>
  						<i class="fa fa-film"></i> 
  						<%= peli.precio %> €
  						<% end %>
			        </div>
			        <br/>
			        <br/>
			        <br/>
			    </div>
		    <% end %>
		</div>
	</div>
</div>
