<div class="container">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="editar"> 
				
				<br/>
				<br/>
				<%= form_for @pelicula do |pelic| %>
					<p>Tiutulo</p>
					<p><%= pelic.text_field :name, placeholder:"Título"  %></p>
					<br/>
					<p>Puntuación:</p>
					<p><%= pelic.text_field :stars, placeholder: "Puntuación" %></p>
					<br/>
					<p>Actor principal</p>
					<p><%= pelic.text_field :main_actor, placeholder: "Actor principal" %></p>
					<br/>
					<p>Año</p>
					<p><%= pelic.text_field :year, placeholder: "Año" %></p>
					<br/>		
				<%= pelic.submit "Guardar pelicula" %>
				<%end%>
			</div>
		</div>
		<div class="hidden-xs">
			<div class="col-lg-6 col-md-6">
				<h3>Actual</h3>
				<br/>
					<div class="col-lg-6 col-md-6">
						<div class="currentPeli">
							<p><%= @pelicula.name %></p>
							<br/>
							<p>Estrellas: <%= @pelicula.stars %></p>
							<br/>
							<p>Protagonizada por <%= @pelicula.main_actor %></p>
							<br/>
							<p><%= @pelicula.year %></p>
							<br/>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
					</div>
					<br/>
			</div>
		</div>
</div>
</div>
<br/>
