
<div class="container">
		<div class="col-lg-6 col-md-6 col-xs-12">
			<div class="editar"> 
				
				<br/>
				<br/>
				<%= form_for @pelicula do |pelic| %>
					<p>Titulo</p>
					<p><%= pelic.text_field :name, placeholder:"Título"  %></p>
					<br/>
					<p><%= pelic.text_field :original, placeholder:"Titulo original" %></p>
					<br/>
					<p>Genero</p>
					<p><%= pelic.text_field :genre, placeholder:"Genero" %></p>
					<br/>
					<p>Director</p>
					<p><%= pelic.text_field :director, placeholder:"Director" %></p>
					<br/>
					<p>Puntuación</p>
					<p><%= pelic.text_field :stars, placeholder: "Puntuación" %></p>
					<br/>
					<p>Proagonista</p>
					<p><%= pelic.text_field :main_actor, placeholder: "Actor principal" %></p>
					<br/>
					<p>Sinopsis</p>
					<p><%= pelic.text_area :sinopsis,  placeholder: "Sinopsis", size: '60x4' %></p>
					<br/>
					<p>Año</p>
					<p><%= pelic.text_field :year, placeholder: "Año" %></p>
					<br/>	
					<p>Poster</p>
					<p><%= pelic.text_field :url, placeholder: "URL" %></p>	
					<br/>
					<p>Precio</p>
					<p><%= pelic.text_field :precio, placeholder: "Precio" %></p>
					<br/>
				<%= pelic.submit "Guardar pelicula" %>
				<%end%>
			</div>
		</div>
		<div class="hidden-xs">
			<div class="col-lg-6 col-md-6">
				<h3>Actual</h3>
				<br/>
					<div class="col-lg-6 col-md-6">
						<div class="currentPeli">
							<p><%= @pelicula.name %></p>
							<br/>
							<p><%= @pelicula.original %></p>
							<br/>
							<p><%= @pelicula.genre %></p>
							<br/>
							<p><%= @pelicula.director %></p>
							<br/>
							<p>Estrellas: <%= @pelicula.stars %></p>
							<br/>
							<p>Protagonizada por <%= @pelicula.main_actor %></p>
							<br/>
							<p><%= @pelicula.sinopsis %></p>
							<br/>
							<p><%= @pelicula.year %></p>
							<br/>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<%= image_tag @pelicula.url %>
					</div>
					<div class="col-lg-6 col-md-6">
					</div>
					<br/>
			</div>
		</div>
</div>
</div>
<br/>
