<div class="container">
	<div class="hidden-xs">
		<div class="crear">
			<%= form_for @pelicula do |futbol| %>
						<p>Titulo</p>
						<p><%= futbol.text_field :name  %></p>
						<br/>
						<p>Titulo original</p>
						<p><%= futbol.text_field :original %></p>
						<br/>
						<p>Genero</p>
						<p><%= futbol.text_field :genre %></p>
						<br/>
						<p>Director</p>
						<p><%= futbol.text_field :director %></p>
						<br/>
						<p>Puntuación</p>
						<p><%= futbol.text_field :stars %></p>
						<br/>
						<p>Protagonista</p>
						<p><%= futbol.text_field :main_actor %></p>
						<br/>
						<p>Siopsis</p>
						<p><%= futbol.text_field :sinopsis %></p>
						<br/>
						<p>Año</p>
						<p><%= futbol.text_field :year %></p>
						<br/>
						<p>Poster</p>
						<p><%= futbol.text_field :url %></p>
			<%= futbol.submit "Guardar" %>
			<% end %>
		</div>
	</div>
</div>
<div class="col-xs-12 visible-xs">
<p class="xsAviso">No disponible en versión mobil.</p>
<br/>
</div>