<div class="container">
	<div class="title">
		<h1><%= @pelicula.name %></h1>
		<h4><%= @pelicula.original %></h4>
	</div>
	<div class="show">
		<div class="col-lg-4">
			<div class="poster">
				<p><%= image_tag @pelicula.url %></p>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="showPeli">
				<p>Director <%= @pelicula.director %></p>
				<br/>
				<p>Estrellas: <%= @pelicula.stars %></p>
				<br/>
				<p>Protagonizada por <%= @pelicula.main_actor %></p>
				<br/>
				<p><%= @pelicula.year %></p>
				<br/>
				<p><%= @pelicula.genre %></p>
				<br/>
				<p><%= @pelicula.sinopsis %></p>
				<br/>

			</div>
		</div>
		<div class="col-lg-4 visible-lg">
			<% if user_signed_in? %>
				<button><%= link_to "Editar Pelicula", edit_pelicula_path %></button>
				<button><%= link_to 'Borrar pelicula', pelicula_path(@pelicula), :method => :delete %></button>
			<% end %>
		</div>
	</div>
</div>
	<br/>
	<br/>
	<br/>
<%= render @pelicula.comentarios %>

<div class="panel panel-default panelmod1" style=" box-shadow: 1px 2px 3px gray;"> 

<span style="font-size: 2em; margin-left:-7px;margin-bottom: 10px;">Añadir comentarios</span>
<!-- AÑADIR COMENTARIOS -->
<%= render "comentarios/form" %>

