<div class="container">
	<div class="show">
		<div class="col-lg-6">
			<div class="showPeli">
				<h1><%= @pelicula.name %></h1>
				<br/>
				<p>Estrellas: <%= @pelicula.stars %></p>
				<br/>
				<p>Protagonizada por <%= @pelicula.main_actor %></p>
				<br/>
				<p><%= @pelicula.year %></p>
				<br/>
				<p><%= image_tag @pelicula.url %></p>

			</div>
		</div>
		<div class="visible-lg">
			<% if user_signed_in? %>
				<button><%= link_to "Editar Pelicula", edit_pelicula_path %></button>
				<button><%= link_to 'Borrar pelicula', pelicula_path(@pelicula), :method => :delete %></button>
			<% end %>
		</div>
	</div>
</div>

<%= render @pelicula.comentarios %>

<div class="panel panel-default panelmod1" style=" box-shadow: 1px 2px 3px gray;"> 

<span style="font-size: 2em; margin-left:-7px;margin-bottom: 10px;">Añadir comentarios</span>
<!-- AÑADIR COMENTARIOS -->
<%= render "comentarios/form" %>

